@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen!</h1>
    <p>Detta är en webbplats skapad för Moment 3 i kursen Webbutveckling med .NET. Webbplatsen är en databasdriven webbapplikation skapad med ASP.net Core MVC och Entity Framework.</p>
    <p>Använd menyn för att ta den av min fiktiva CD-samling.</p>
    <p>Webbplatsen är skapad av Beatrice Abrahamsson. Kontakta mig via e-post på <a href="mailto:beab2100@student.miun.se">beab2100@student.miun.se</a></p>
</div>